body {
    padding-top: 50px;
    background-color: whitesmoke;
    font-family: 'Nunito Sans', sans-serif;
}

nav {
    max-width: 800px;
    margin: auto;
    background-color: antiquewhite;
    -webkit-box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
    box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

nav ul {
    padding: 20px 20px 20px 0;
}

nav ul li a {
    font-size: 18px;
}

#last-a-child {
    color: gray;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    padding-left: 15px;
}

.container {
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 0px;
    padding-right: 0px;
    max-width: 800px;
    margin: auto;
    background-color: white;
    -webkit-box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
    box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
}

form {
    padding-left: 15px;
    padding-right: 15px;
}

.incomplete-tasks-heading {
    color: #EB796F;;
}

.task-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    border-top: 1px solid rgb(226, 226, 226);
}

.task-title {
    display: flex;
}

.task-title a {
    text-decoration: none;
    color: #4b5156;
    margin-left: 10px;
    font-size: 19px;
}

.task-title a:hover {
    font-size: 24px;
}

.task-complete-icon {
    height: 20px;
    width: 20px;
    background-color: rgb(105, 192, 105);
    border-radius: 50%;
}

.task-incomplete-icon {
    height: 20px;
    width: 20px;
    background-color: rgb(218, 218, 218);
    border-radius: 50%;
}

.delete-link {
    text-decoration: none;
    font-weight: 900;
    color: #cf4949;
    font-size: 22px;
    line-height: 0;
}

.delete-link:hover {
    text-decoration: none;
    font-size: 35px;
    color: #cf4949;
}

.search-add-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#add-task-link {
    color: #EB796F;
    text-decoration: none;
    font-size: 27px;
    /*text-shadow: 1px 1px #81413b;*/
}

#add-task-link:hover {
    font-size: 32px;
}

.search-bar {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
}

input[type=text],
input[type=password],
input[type=email],
input[type=url],
select,
textarea {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    width: 90%;
}

input[type=checkbox] {
    box-sizing: border-box;
    display: grid;
    place-content: center;
    width: 8%;
    font-weight: bold;
    font-size: 55px;
    height: 27px;
}

input[type=checkbox]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    /*box-shadow: inset 1em 1em var(--form-control-color);*/
}

input[type=checkbox]:checked::before {
    transform: scale(1);
}

label {
    padding-top: 10px !important;
    display: block;
    color: black;
}

button {
    border: 1px solid black;
    background-color: antiquewhite;
    color: black;
    padding: 7px 14px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: block;
    font-weight: bold;
    margin-top: 30px;
}

.home-heading {
    text-align: center;
    padding-top: 20px;
}

.home-btn {
    text-align: center;
    position: absolute;
    left: 650px;
    top: 300px;
}

.home-img-wrapper {
    width: 200px;
}

.home-img-btn-wrapper img {
    width: 100%;
}

.home-img-btn-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home-link {
    color: white;
    background-color: #007bff;
    border-radius: 5px;
    padding: 8px 10px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
}

#home-link:hover {
    background-color: blue;
}

.header-bar {
    padding-left: 15px;
}

.header-bar a {
    font-size: 20px;
}

.task-details-wrapper {
    padding-left: 15px;
}

.login-p {
    margin-top: 10px;
    padding-left: 15px;
}

.register-p {
    margin-top: 10px;
    padding-left: 15px;
}

.profile-details-wrapper {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.profile-details-wrapper a {
    background-color: antiquewhite;
    font-size: 20px;
    text-decoration: none;
    color: black;
    padding: 10px 0;
}

.profile-details-wrapper a:hover {
    opacity: 0.7;
}